html.page-scroller-enabled, .page-scroller-enabled body {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.page-scoller-body {
    height: 100%;
    position: relative;
}

.page-scroller-wrapper {
    height: 100%;
    position: relative;
}

.page-scroller-section {
    height: 100%;
    display: block;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
